<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO--8859-1">
<title>Employee Management</title>
  <!-- Bootstrap -->
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<link rel="stylesheet" href="./css/style.css" />
<title>EMS</title>
<style>
  html,body{
	height:100%;
  }
</style>
<body>
	<div class="container-fluid h-100">
		<div class="row h-100">
			<!-- start: Sidebar -->
			<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
				<div class="sidebar-sticky">
				  <div class="brand text-center p-3">
					<h4 class="text-muted">Employee Management System</h4>
				  </div>
				  <ul class="nav flex-column pt-3">
					<li class="nav-item">
					  <a class="nav-link text-light" th:href="@{/admin}">
						<span data-feather="home"></span>
						Dashboard
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link text-light" th:href="@{/admin/employees/new}">
						<span data-feather="home"></span>
						Add Employee
					  </a>
					</li>
					<!-- <li class="nav-item">
					  <a class="nav-link text-light" href="/pages/loginPage.html">
						<span data-feather="file"></span>
						Update Employee
					  </a>
					</li> -->
					<!-- <li class="nav-item">
					  <a class="nav-link text-light" href="#">
						<span data-feather="shopping-cart"></span>
						Delete Employee
					  </a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link text-light" th:href="@{/admin/employees}" href="#">
						  <span data-feather="shopping-cart"></span>
						  View All Employees
						</a>
	  
					<li class="nav-item">
					  <a class="nav-link text-light" th:href="@{/admin/attendance}" href="#">
						<span data-feather="shopping-cart"></span>
						Manage Attendance Requests
					  </a>
					</li>

					
					<li class="nav-item">
					  <a class="nav-link text-light" href="/logout">
						<span data-feather="layers"></span>
						Log Out
					  </a>
	  <!-- 
					  <span class="text-muted small d-inline ml-3">
						<a class="text-muted" th:href="@{/loginPage}" href="#">Login</a> |
						<a class="text-muted" th:href="@{/signupPage}" href="#">                  
						  Sign Up</a
						>
					  </span> -->
					</li>
				  </ul>
				</div>
			  </nav>
	  
			  <!-- end: Sidebar -->
			  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<!-- start: Title -->
				<div
				  class="
					d-flex
					justify-content-between
					flex-wrap flex-md-nowrap
					align-items-center
					mb-5
					border-bottom
				  "
				>
				  <h1 class="h3">View all Employees</h1>
				</div>
			<div class="card">
				<div class="card-body">
				<table class="table table-striped table-responsive  table-hover">
					<thead>
					  <tr >
						<th scope="col">Emp Id</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Username</th>
						<th scope="col">Password</th>
						<th scope="col">Date of Joining</th>

						<th scope="col">Gender</th>
						<th scope="col">Date of Birth</th>
						<th scope="col">Role</th>
						<th scope="col">Department</th>
						<th scope="col">Photo</th>
						<th scope="col">Actions</th>
						<th scope="col">Actions</th>

						<th scope="col">Actions</th>
						
					   
					  </tr>
					</thead>
					<tbody>
						<tr th:each="employee: ${listEmployees}">
							<td th:text="${employee.empId}"></td>
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.userName}"></td>
							<td th:text="${employee.password}"></td>
							<td th:text="${employee.dateOfJoining}"></td>
							<td th:text="${employee.gender}"></td>
							<td th:text="${employee.dateOfBirth}"></td>
							<td th:text="${employee.role}"></td>
							<td th:text="${employee.departmentId}"></td>
							<td><img class="rounded-circle" th:src="@{${employee.photoImagePath}}" style="width:100px;height:100px"/></td>
							<td> <a th:href="@{/admin/employees/{id}(id=${employee.empId})}" class="btn btn-outline-secondary">View Details</a></td>
							<td> <a th:href="@{/admin/employees/{id}/update(id=${employee.empId})}" class="btn btn-info">Update</a></td>
							<td th:with="isActive = ${employee.isActive}">
								<span th:if="${isActive}"><a th:href="@{/admin/employees/{id}/setInactive(id=${employee.empId})}" class="btn btn-outline-danger">Set Inactive</a> </span>
								<span th:unless="${isActive}"><a th:href="@{/admin/employees/{id}/setActive(id=${employee.empId})}" class="btn btn-outline-success" >Set Active</a></span>
							</td>
							<td></td>
				
						
				  
					</tbody>
				  </table>
				  <div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<div class="col-sm-2">
							Total Rows: [[${totalItems}]]
						</div>
						<div class="col-sm-1">
							<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					  <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
					  <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
							</span>
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
							<span th:unless="${currentPage < totalPages}">Next</span>
						</div>
				
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
							<span th:unless="${currentPage < totalPages}">Last</span>
						</div>
					</div>
				</div>
					  
</div>
				  </div>
			  </main>
		</div>
	
	</div>

</div>
</body>
</html>


