<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <title>EMS</title>
    <style>
      html,body{
        height:100%;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
       <!-- start: Sidebar -->
       <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <div class="brand text-center p-3">
            <h4 class="text-muted">Employee Management System</h4>
          </div>
          <ul class="nav flex-column pt-3">
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/employee/{id}/dashboard(id = ${attendances[0].empId})}">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
           
            <!-- <li class="nav-item">
              <a class="nav-link text-light"  th:href="@{/employee/{id}/update(id = ${employee.empId})}" href="#">
                <span data-feather="file"></span>
                Update Profile
              </a>
            </li>
            -->
  
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/employee/{id}/regularise(id=${attendances[0].empId})}">
                <span data-feather="shopping-cart"></span>
                Regularise Attendance 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/employee/{id}/attendance(id=${attendances[0].empId})}">View All Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/logout">
                <span data-feather="layers"></span>
                Log Out
              </a>
  
               
            </li>
          </ul>
        </div>
      </nav>

      <!-- end: Sidebar -->
        <!-- start: Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <!-- start: Title -->
          <div
            class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              mb-5
              border-bottom
            "
          >
            <h1 class="h3">View All Requests</h1>
          </div>
          <!-- end: Title -->
          <div class="card">
            <div class="card-body">
                <table class="table table-striped  table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Attendance Id</th>
                        <th scope="col">Employee Id</th>
                        <th scope="col">In-time</th>
                        <th scope="col">Out-Time</th>
                        <th scope="col">Status</th>
                        
                        
                        
                       
                      </tr>
                    </thead>
                    <tbody>
                     <tr th:each="attendance: ${attendances}">
                     <td th:text="${attendance.attId}"></td>
                     <td th:text="${attendance.empId}"></td>
                        <td th:text="${attendance.inTime}"></td>
                     <td th:text="${attendance.outTime}"></td>
                     <td th:text="${attendance.status}"></td>
                     
                     
                        
                         
                  
                  
                  </tr>
                  
             
                  
                    </tbody>
    
                      </table>
                      <hr><a href="#" th:href="@{/employee/{id}/dashboard(id = ${attendances[0].empId})}">Back to Dashboard</a>

            
          <!-- endL Form -->
        </main>
        <!-- end: Content -->

      
      </div>
    </div>

    <!-- Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>